{% extends "auctions/layout2.html" %}

{% block title %}
    Home
{% endblock %}


{% block body %}

    <br>
    <br>
    <br>
    <br>



     <div class="jumbotron text-center" style="margin-left:10%;width:80%;opacity:0.88;background-color:#E8F6EF;border:solid;border-color:black;border-width:0.5px;">

         <a href="{% url 'contacts' %}"><button style="margin-right:80%;"class="btn btn-primary"> 🔙 Back to All Contacts</button></a>

        <!-- Title -->

        <br>
        <h4 class="card-title">CHAT WITH {{contact}}!</h4>

        {% if empty %}
        <div class="text-center">
            <p class="lead">You have no messages.</p>
        </div>
        {% endif %}


        <div id="newmessages">
        {% for all_message in all_messages %}
            {% if all_message.sender == user.username %}
                <div class="box sb4"><h4>{{all_message.content}}</h4><h8>{{all_message.timestamp}}</h8></div>
            {% elif all_message.sender == contact %}
                <div class="box1 sb3"><h4>{{all_message.content}}</h4><h8>{{all_message.timestamp}}</h8></div>
            {% endif %}
        {% endfor %}
        </div>



<br>


         <button id="reloadmaster" style="background:#0b5394;border-radius: 1000px;border:none;outline:none;padding:16px 36px;color:#ffffff;text-align:center;">View New Messages!</button>

    <br>
    <br>

                <form action="{% url 'newmessage' contact %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea class="form-control" style="margin-left:30%;width:40%;height:5%;"name="content" placeholder="Send Message" autofocus></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" style="background:#0b5394;border-radius: 1000px;border:none;outline:none;padding:16px 36px;color:#ffffff;text-align:center;" class="btn btn-primary"
                        value="Send"/>
                    </div>
                </form>

      <br>




{% endblock %}

{% block scripts %}
<script>
 document.querySelector('#reloadmaster').addEventListener('click', function(){
        window.location.reload();
 });
</script>
<script>
$(document).ready(function(){

//function(){
    $.ajax({
        type: 'GET',
        url : "/getmessages/{{contact}}",
        success: function(response){
            //console.log(response);
            //document.querySelector("#newmessages").empty();
            window.location.reload()
        },
        error: function(response){

        }
    });
});

</script>



{% endblock scripts %}

