{% extends "auctions/layout2.html" %}

{% block body %}

    <h3 align="center">Welcome to ClassLancer!</h3>

    <br>
    <p align="center">Forgot your password? Don't worry about it!</p>
    <br>

    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <p {% if message.tags %} class="alert alert-danger" {% endif %}>{{ message }}</p>
    {% endfor %}
</ul>
{% endif %}
    <br>

    <form action="{% url 'resetpassword' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" style="width:28%;margin-left:36%;" autofocus type="text" name="username" value="{{username}}" placeholder="What is your Username">
        </div>
        <div class="form-group">
            <input class="form-control" style="width:28%;margin-left:36%;" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" style="width:28%;margin-left:36%;" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="btn btn-primary" style = "width:8%;margin-left:46%;" type="submit" value="Submit">
    </form>
    <br>
    <br>
    <div style="text-align:center;">
    Already have an account? <a href="{% url 'login' %}">Log In here.</a>
    </div>

{% endblock %}