{% extends "auctions/layout2.html" %}

{% block title %}
    Notifications
{% endblock %}


{% block body %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="jumbotron text-center" style="margin-left:7.5%;width:85%;background-color:#E8F6EF;border: solid;border-color:black;border-width: 0.5px;">
        <h2 class="card-title h2">YOUR NOTIFICATIONS</h2>
        <!-- Subtitle -->
        <p class="black-text my-4 font-weight-bold"></p>
        <a href="{% url 'resolvenotifs' %}">
        <button style="background:#0b5394;border-radius:100px;padding:16px 36px;outline:none;border:none;color:white;">Resolve</button>
        </a>
        <hr class="my-3">
        <br>

        <h4>Classes</h4>
        {% if empty2 %}
            <p>You have no new notifications</p>
        {% else %}
            {% for classnotif in classnotifs %}
                <!-- Grid row -->
                <br> <br>
                <div class="card text-center" style="margin-left:15%;width:70%;border:solid;">
                    <div class="card-body">
                        <h5 class="card-title">Class Matters</h5>
                        <p class="lead">{{classnotif.info}}</p>
                        <p>{{classnotif.timestamp}}</p>
                        <a href="{% url 'viewclass' classnotif.notifid %}"><button style="background:#0b5394;border-radius:100px;padding:16px 36px;outline:none;border:none;color:white;">View</button></a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        <br>
        <h4>Messages</h4>
        {% if empty1 %}
            <p>You have no new notifications</p>
        {% else %}
            {% for messagingnotif in messagingnotifs %}
                <!-- Grid row -->
                <br> <br>
                <div class="card text-center" style="margin-left:15%;width:70%;border:solid;">
                    <div class="card-body">
                        <h5 class="card-title">Messaging Matters</h5>
                        <p class="lead">{{messagingnotif.info}}</p>
                        <p>{{messagingnotif.timestamp}}</p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        <br>
        <h4>Ratings</h4>
        {% if empty3 %}
            <p>You have no new notifications</p>
        {% else %}
            {% for ratingnotif in ratingnotifs %}
                <!-- Grid row -->
                <br> <br>
                <div class="card text-center" style="margin-left:15%;width:70%;border:solid;">
                    <div class="card-body">
                        <h5 class="card-title">Rating Matters</h5>
                        <p class="lead">{{ratingnotif.info}}</p>
                        <p>{{ratingnotif.timestamp}}</p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}



{% endblock %}